{% extends 'base.html.twig' %}

{% block title %}{{ author.name }}{% endblock %}
{% block openGrafImage %}
    {%- if vich_uploader_asset(author, 'image') -%}
        {{ absolute_url(vich_uploader_asset(author, 'image')) }}
    {%- else -%}
        {{ parent() }}
    {%- endif -%}
{% endblock %}

{% block bodyTop %}
<div class="container animate-box">
    <div class="row">
        <div class="archive-header">
            <div class="post-author-info">
                    <img class="section_margin_20" src="{{ vich_uploader_asset(author, 'image') }}" alt="{{ author.name }}"/>
                    <div class="archive-title"><h2>{{ author.name }}</h2></div>
                    <p>{{ author.comment }}</p>
                    <ul>
                        {% if author.facebook %}
                            <li><a href="{{ author.facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        {% endif %}
                        {% if author.twitter %}
                            <li><a href="{{ author.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        {% endif %}
                        {% if author.linkedin %}
                            <li><a href="{{ author.linkedin }}" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                        {% endif %}
                        {% if author.instagram %}
                            <li><a href="{{ author.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        {% endif %}
                    </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
    <h3 class="section_margin">Статті, які написав {{ author.name }}</h3>
    <div class="post_list post_list_style_1">
        {% for article in articles %}
            <article class="row section_margin animate-box">
                <div class="col-md-4 animate-box">
                    <figure class="alith_news_img">
                        <a href="{{ path('article-view', {'slug': article.slug}) }}">
                            <img src="{{ vich_uploader_asset(article, 'image') }}" alt=""/>
                        </a>
                    </figure>
                </div>
                <div class="col-md-8 animate-box">
                    <h3 class="alith_post_title">
                        <a href="{{ path('article-view', {'slug': article.slug}) }}">{{ article.title }}</a>
                    </h3>
                    <div class="post_meta">
                        <span class="meta_categories">
                            {% for category in article.categories %}
                                <a href="{{ path('category-list', {'slug': category.slug}) }}">{{ category.name }}{% if not loop.last %},{% endif %}</a>
                            {% endfor %}
                        </span>
                        <span class="meta_date">{{ article.publishedAt|localizeddate('medium') }}</span>
                    </div>
                    <p class="alith_post_except">{{ article.shortContent }}</p>
                    <a href="{{ path('article-view', {'slug': article.slug}) }}" class="read_more">Читати більше</a>
                </div>
            </article>
        {% endfor %}
        <div class="site-pagination animate-box">
            {{ knp_pagination_render(articles) }}
        </div>
    </div>
{% endblock %}
