{% extends '@SonataAdmin/standard_layout.html.twig' %}


{% block sonata_admin_content %}
    <iframe name="elframe" width="100%" src="{{ path('elfinder', {instance: 'default', homeFolder: ''}) }}"></iframe>
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    //<script>
    $(function() {
        let h = screen.height - 250;
        $('iframe[name=elframe]').attr('height', h);
    });


    //</script>
{% endblock %}
