<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
    <channel>
        <title> Розвиток суспільства </title>
        <link>{{ url('default') }}</link>
        <description>Цей сайт є спільним проектом громадських організацій «Спільна справа» та БФ «Розвиток суспільства». Можна довго чекати допомоги від держави, сподіватися, що раптом держава прозріє і як почнуть створюватися механізми для поліпшення життя переселенців, як забезпечать нас дахом над головою ... Чекати можна, але скільки? Життя не стоїть на місці, а хочеться жити, а не виживати. Хто краще, ніж ми знає наші проблеми? Хто більш зацікавлений в покращенні нашого життя, ніж ми? Саме тому, ми вихідці з Донецька, Луганська і Криму, вирішили створити громадську організацію «Об'єднання переселенців «Спільна справа», з метою об'єднати людей для спільного вирішення наших проблем. Всі ми різні, але біда у всіх одна!!!</description>
        {% for article in articles %}
        <item>
            <title>{{ article.title }}</title>
            <link>{{ url('article-view', { slug: article.slug }) }}</link>
            <description>{{ article.shortContent }}</description>
            <category>{{ article.categories.first.ukrNetCategory }}</category>
            <pubDate>{{ article.publishedAt|date('r') }}</pubDate>
            <full-text>{{ article.rSSContent|raw }}</full-text>
        </item>
        {% endfor %}
    </channel>
</rss>