{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block openGrafImage %}
    {%- if vich_uploader_asset(category, 'image') -%}
        {{ absolute_url(vich_uploader_asset(category, 'image')) }}
    {%- else -%}
        {{ parent() }}
    {%- endif -%}
{% endblock %}


{% block breadcrumb %}
    <div class="container-fluid">
        <div class="container animate-box fadeInUp animated-fast">
            <div class="row">
                <div class="archive-header">
                    <div class="archive-title">
                        <h1>{{ category.name }}</h1>
                    </div>
                    <div class="bread">
                        <ul class="breadcrumbs" id="breadcrumbs">
                            <li class="item-home">
                                <a title="Home" href="{{ path('default') }}" class="bread-link bread-home">Головна</a>
                            </li>
                            <li class="separator separator-home"> /</li>
                            <li class="item-current item-cat">
                                <strong class="bread-current bread-cat">{{ category.name }}</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="post_list post_list_style_1">
        {% for article in articles %}
            {% if loop.index <= 2 %}
                <article class="row section_margin animate-box fadeInUp animated-fast">
                    <div class="col-md-6 animate-box fadeInUp animated-fast">
                        <figure class="alith_news_img">
                            <a href="{{ path('article-view', {'slug': article.slug}) }}">
                                <img src="{{ vich_uploader_asset(article, 'image') }}" alt="{{ article.title }}">
                            </a>
                        </figure>
                    </div>
                    <div class="col-md-6 animate-box fadeInUp animated-fast">
                        <h3 class="alith_post_title">
                            <a href="{{ path('article-view', {'slug': article.slug}) }}">{{ article.title }}</a>
                        </h3>
                        <div class="post_meta">
                            {% if article.author %}
                                <a href="{{ path('author-list', {'id': article.author.id}) }}" class="meta_author_avatar">
                                    <img src="{{ vich_uploader_asset(article.author, 'image') }}" alt="author details">
                                </a>
                                <span class="meta_author_name">
                                    <a href="{{ path('author-list', {'id': article.author.id}) }}" class="author">{{ article.author.name }}</a>
                                </span>
                            {% endif %}
                            <span class="meta_categories">
                            {% for category in article.categories %}
                                <a href="{{ path('category-list', {'slug': category.slug}) }}">{{ category.name }}{% if not loop.last %},{% endif %}</a>
                            {% endfor %}
                            </span>
                            <span class="meta_date">{{ article.publishedAt|localizeddate('medium') }}</span>
                        </div>
                        <p class="alith_post_except">{{ article.shortContent }}</p>
                        <a href="{{ path('article-view', {'slug': article.slug}) }}" class="read_more">Читати більше</a>
                    </div>
                </article>
            {% else %}
            <article class="row section_margin animate-box fadeInUp animated-fast">
                <div class="col-md-4 animate-box fadeInUp animated-fast">
                    <figure class="alith_news_img">
                        <a href="{{ path('article-view', {'slug': article.slug}) }}">
                            <img src="{{ vich_uploader_asset(article, 'image') }}" alt="{{ article.title }}">
                        </a>
                    </figure>
                </div>
                <div class="col-md-8 animate-box fadeInUp animated-fast">
                    <h3 class="alith_post_title">
                        <a href="{{ path('article-view', {'slug': article.slug}) }}">{{ article.title }}</a>
                    </h3>
                    <div class="post_meta">
                        {% if article.author %}
                            <a href="{{ path('author-list', {'id': article.author.id}) }}" class="meta_author_avatar">
                                <img src="{{ vich_uploader_asset(article.author, 'image') }}" alt="author details">
                            </a>
                            <span class="meta_author_name">
                                <a href="{{ path('author-list', {'id': article.author.id}) }}" class="author">{{ article.author.name }}</a>
                            </span>
                        {% endif %}
                        <span class="meta_categories">
                            {% for category in article.categories %}
                                <a href="{{ path('category-list', {'slug': category.slug}) }}">{{ category.name }}{% if not loop.last %},{% endif %}</a>
                            {% endfor %}
                        </span>
                        <span class="meta_date">{{ article.publishedAt|localizeddate('medium') }}</span>
                    </div>
                </div>
            </article>
            {% endif %}
        {% endfor %}
        <div class="site-pagination animate-box">
            {{ knp_pagination_render(articles) }}
        </div>
    </div>

{% endblock %}
