<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
    <div class="sidebar-widget">
        <div class="widget-title-cover"><h4 class="widget-title"><span>Найбільш коментують</span></h4>
        </div>
        <div class="latest_style_3">
            {% for article in commented %}
            <div class="latest_style_3_item">
                <span class="item-count vertical-align">{{ loop.index }}.</span>
                <div class="alith_post_title_small">
                    <a href="{{ path('article-view', { slug: article.slug}) }}">
                        <strong>
                            {{ article.title }}
                        </strong>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
    <div class="sidebar-widget">
        <div class="widget-title-cover"><h4 class="widget-title"><span>Останні</span></h4></div>
        <div class="latest_style_2">
            {% for article in latest %}
                <div class="latest_style_2_item">
                    <figure class="alith_news_img">
                        <a href="{{ path('article-view', {'slug': article.slug}) }}">
                            <img src="{{ vich_uploader_asset(article, 'image') }}" alt="{{ article.title }}" class="hover_grey">
                        </a>
                    </figure>
                    <h3 class="alith_post_title">
                        <a href="">{{ article.title }}</a>
                    </h3>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="sidebar-widget">
        <div class="widget-title-cover"><h4 class="widget-title"><span>Рубрикі</span></h4>
        </div>
        <ul class="bottom_menu">
            {% for category in categories %}
                <li><a href="" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; {{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{#<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">#}
    {#<div class="sidebar-widget">#}
        {#<div class="widget-title-cover"><h4 class="widget-title"><span>Facebook</span></h4>#}
        {#</div>#}
        {#<ul class="alith-instagram-grid-widget alith-clr alith-row alith-gap-10">#}
            {#<li class="wow fadeInUp alith-col-nr alith-clr alith-col-3 animated">#}
                {#<a class="" target="_blank" href="">#}
                    {#<img class="" title="" alt=""#}
                         {#src="">#}
                {#</a>#}
            {#</li>#}
        {#</ul>#}
    {#</div>#}
{#</div>#}
