{% extends 'base.html.twig' %}

{% block bodyTop %}
    <div class="container-fluid">
        <div class="container animate-box fadeInUp animated-fast">
            <div class="row">
                <div class="owl-carousel owl-theme js carausel_slider section_margin" id="slider-small">
                    {% for article in top %}
                        <div class="item px-2">
                            <div class="alith_latest_trading_img_position_relative">
                                <figure class="alith_post_thumb">
                                    <a href="{{ path('article-view', {'slug': article.slug}) }}">
                                        <img src="{{ vich_uploader_asset(article, 'image')|imagine_filter('top')}}" alt="{{ article.title }}">
                                    </a>
                                </figure>
                                <div class="alith_post_title_small">
                                    <a href="{{ path('article-view', {'slug': article.slug}) }}"><strong>{{ article.title }}</strong></a>
                                    <p class="meta"><span>{{ article.publishedAt|localizeddate('medium') }}</span>
                                        <span><i class="far fa-eye"></i> {{ article.views }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="owl-carousel owl-theme js section_margin line_hoz animate-box" id="slideshow_face">
        {% for article in main %}
            <div class="item">
                <figure class="alith_post_thumb_big">
                    <span class="post_meta_categories_label">
                       {% for tag in article.regularTags %}
                           {{ tag.name }}{% if not loop.last %},{% endif %}
                       {% endfor %}
                    </span>
                    <a href="{{ path('article-view', {'slug': article.slug}) }}">
                        <img src="{{ vich_uploader_asset(article, 'image')|imagine_filter('main')}}" alt="{{ article.title }}">
                    </a>
                </figure>
                <h3 class="alith_post_title animate-box" data-animate-effect="fadeInUp">
                    <a href="{{ path('article-view', {'slug': article.slug}) }}">
                        {{ article.title }}
                    </a>
                </h3>
                <div class="alith_post_content_big">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="post_meta_center animate-box">
                                <p class="default-author-avatar">
                                    {% if article.author %}
                                        <a href="{{ path('author-list', {'id': article.author.id}) }}">
                                            <img src="{{ vich_uploader_asset(article.author, 'image')}}" alt="{{ article.author.name }}">
                                        </a>
                                    {% endif %}
                                </p>
                                <p>
                                    <a href="{{ path('author-list', {'id': article.author.id}) }}" class="author">
                                        <strong>{{ article.author.name }}</strong>
                                    </a>
                                </p>
                                <span class="post_meta_date">{{ article.publishedAt|localizeddate('medium')}}</span>
                                <span><i class="far fa-eye"></i> {{ article.views }}</span>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 animate-box">
                            <p class="alith_post_except">{{ article.shortContent }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="post_list post_list_style_1">
        <div class="alith_heading">
            <h2 class="alith_heading_patern_2">Нові статті</h2>
        </div>
        {% for article in article %}
        <article class="row section_margin animate-box">
            {% if article.image %}
            <div class="col-md-3 animate-box">
                <figure class="alith_news_img">
                    <a href="{{ path('article-view', {'slug': article.slug}) }}">
                        <img src="{{ vich_uploader_asset(article, 'image')}}" alt="{{ article.title }}">
                    </a>
                </figure>
            </div>
            {% endif %}
            <div class="col-md-9 animate-box">
                <h3 class="alith_post_title">
                    <a href="{{ path('article-view', {'slug': article.slug}) }}">{{ article.title }}</a>
                </h3>
                <div class="post_meta">
                    {% if article.author %}
                    <a href="{{ path('author-list', {'id': article.author.id}) }}" class="meta_author_avatar">
                        <img src="{{ vich_uploader_asset(article.author, 'image')}}" alt="{{ article.author.name }}">
                    </a>
                    <span class="meta_author_name"><a href="{{ path('author-list', {'id': article.author.id }) }}" class="author">{{ article.author.name }}</a></span>
                    {% endif %}
                    {% for category in article.categories %}
                        <span class="meta_categories">
                            <a href="{{ path('category-list', {'slug': category.slug }) }}">{{ category.name }}</a>
                        </span>
                    {% endfor %}
                    <span class="meta_date">{{ article.publishedAt|localizeddate('medium') }}</span>
                    <span><i class="far fa-eye"></i> {{ article.views }}</span>
                </div>
            </div>
        </article>
        {% endfor %}

        <div class="site-pagination animate-box">
        </div>
    </div>

{% endblock %}
