<ul id="main-menu">
    <li><a href="{{ path('default') }}">Гарячі новини</a></li>
    {% for category in categories %}
        <li><a href="{{ path('category-list', {'slug': category.slug }) }}">{{ category.name }}</a></li>
    {% endfor %}
    <li><a href="{{ path('contact') }}">Реєстрація</a></li>
</ul>
