<div class="sidebar-widget animate-box">

    <a href="https://www.facebook.com/AuswaertigesAmt/" target="_blank">
        <img src="{{ asset('assets/images/Auswaertiges_Amt_ukrain_c.jpg') }}" alt="Auswärtiges Amt">
    </a>
    <a class="seidel" href="https://www.facebook.com/hsskiev/" target="_blank">
        <img src="{{ asset('assets/images/HSS_up_Ukraine_ukra_out_RGB.jpg') }}" alt="Hanns Seidel Stiftung Ukraine">
    </a>

</div>


<div class="sidebar-widget animate-box">
    <div class="widget-title-cover"><h4 class="widget-title"><span>Популярні статті</span></h4></div>
    <div class="latest_style_1">
        {% for article in popular %}
            <div class="latest_style_1_item">
                <span class="item-count vertical-align">{{ loop.index }}.</span>
                <div class="alith_post_title_small">
                    <a href="{{ path('article-view', {'slug': article.slug}) }}"><strong>{{ article.title }}</strong></a>
                    <p class="meta">
                        <span>{{ article.publishedAt|localizeddate('medium') }}</span>
                        {#<span>268 views</span>#}
                    </p>
                </div>
                <figure class="alith_news_img">
                    <a href="{{ path('article-view', {'slug': article.slug}) }}">
                        <img src="{{ vich_uploader_asset(article, 'image')|imagine_filter('popular')}}" alt="{{ article.title }}">
                    </a>
                </figure>
            </div>
        {% endfor %}
    </div>
</div> <!--.sidebar-widget-->

<div class="sidebar-widget animate-box">
    <div class="widget-title-cover"><h4 class="widget-title"><span>В тренді</span></h4></div>
    <div class="latest_style_2">
        {% for article in trending_main %}
            <div class="latest_style_2_item_first">
                <figure class="alith_post_thumb_big">
                    <span class="post_meta_categories_label">
                        {% for tag in article.regularTags %}
                            {{ tag.name }}{% if not loop.last %},{% endif %}
                        {% endfor %}
                    </span>
                    <a href="{{ path('article-view', {'slug': article.slug}) }}">
                        <img src="{{ vich_uploader_asset(article, 'image')}}" alt="{{ article.title }}">
                    </a>
                </figure>
                <h3 class="alith_post_title">
                    <a href="{{ path('article-view', {'slug': article.slug}) }}">
                        <strong>{{ article.title }}</strong>
                    </a>
                </h3>
            </div>
        {% endfor %}
        {% for article in trending %}
            <div class="latest_style_2_item">
                <figure class="alith_news_img">
                    <a href="{{ path('article-view', {'slug': article.slug}) }}">
                        <img src="{{ vich_uploader_asset(article, 'image')}}" alt="{{ article.title }}">
                    </a>
                </figure>
                <h3 class="alith_post_title">
                    <a href="{{ path('article-view', {'slug': article.slug}) }}">{{ article.title }}</a>
                </h3>
                <div class="post_meta">
                    <span class="meta_date">{{ article.publishedAt|localizeddate('medium') }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</div> <!--.sidebar-widget-->

<div class="sidebar-widget animate-box">
    <div class="widget-title-cover"><h4 class="widget-title"><span>Хмара тегів</span></h4></div>
        <div class="alith_tags_all">
            {% for tag in tags %}
                <a href="{{ path('tag-list', {'id':  tag[0].id }) }}" class="alith_tagg">{{ tag[0].name }}</a>
            {% endfor %}
        </div>
</div> <!--.sidebar-widget-->


