{% extends 'base.html.twig' %}

{% block title %}Реєстрація{% endblock %}

{% block body %}
    <div class="col-md-12" style="margin-bottom: 35px">
        <h2>Контактна інформація</h2>
        <p><p>
        <p><i style="color: #ff610f" class="far fa-envelope"></i> Email: unaedi.office@gmail.com </p>
        <p><i style="color: #ff610f" class="fas fa-mobile-alt"></i> Телефон: <a href="tel:+380504708817">+380 50 470 88 17</a> </p>
    </div>
    <div class="col-md-12">
        <h4>Реєструйтеся на сайті, щоб отримувати оперативну інформацію</h4>
        {% for message in app.flashes('success') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
        {{ form_start(form, {'attr': {'class': 'comment-form'}})}}
        {{ form_errors(form) }}
        <div class="row">
            <div class="comment-form-author col-sm-12 col-md-6">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {'attr': {'placeholder': 'Ваше Ім`я та Прізвище *', 'size': '30' }} ) }}
            </div>
            <div class="comment-form-email col-sm-12 col-md-6">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'placeholder': 'Email *', 'size': '30' }} ) }}
            </div>
        </div>
        <p class="comment-form-comment">
            {{ form_label(form.message) }}
            {{ form_widget(form.message, {'attr': {'placeholder': 'Ваше повідомлення', 'cols': '45', 'rows': '8' }}) }}
        </p>
        <p class="form-submit">
            <input type="submit" name="submit" id="submit" class="submit" value="Зареєструватися на сайті">
        </p>
        {{ form_end(form) }}
    </div>
{% endblock %}

