<!DOCTYPE html>
<html lang="uk"
      class="js svg audio canvas canvastext video cssgradients multiplebgs opacity rgba inlinesvg hsla supports svgclippaths fontface generatedcontent textshadow cssanimations backgroundsize borderimage borderradius boxshadow csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside flexbox cssreflections csstransforms csstransforms3d csstransitions"
      style="transform: none;">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138349912-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-138349912-1');
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta tags -->

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Діалог{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %}Діалог{% endblock %}">
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{% block og_title %}Діалог{% endblock %}" />

    <!-- Bootstrap, Font Awesome, Aminate, Owl Carausel, Normalize CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="{{ asset('assets/css/animate.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/owl.carousel.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/owl.theme.default.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/normalize.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/slicknav.min.css') }}" rel="stylesheet" type="text/css">

    <!-- Site CSS -->

    <link href="{{ asset('assets/css/main.css') }}?2" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/responsive.css') }}" rel="stylesheet" type="text/css">

    <!-- Modernizr JS -->
    <script src="{{ asset('assets/js/modernizr-3.5.0.min.js') }}"></script>

    <!--favincon-->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <!-- Google fonts -->
    <link href="{{ asset('assets/css/ibm-plex-serif.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/playfair-display.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <style>.theiaStickySidebar:after {
            content: "";
            display: table;
            clear: both;
        }</style>
    <meta property="og:image" content="{% block openGrafImage %}{{ absolute_url(asset('assets/images/RS.png')) }}{% endblock %}" />
</head>

<body style="transform: none;">

<div id="wrapper" style="transform: none;">
    <div id="page-content-wrapper" style="transform: none;">
        <div class="container-fluid">
            <div class="container">
                <div class="top_bar margin-15">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 time">
                            <i class="far fa-clock"></i><span> {{ "now"|localizeddate('short', 'none') }}</span>
                        </div>
                        <div class="col-md-6 col-sm-12 social">
                            <ul>
                                <li><a href="https://www.facebook.com/Dialogandintegration/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                            <div class="top-search">
                                <i class="fas fa-search"></i><span>Пошук</span>
                            </div>
                            <div class="top-search-form" style="">
                                <form action="{{ path('search') }}" class="search-form" method="get"
                                      role="search">
                                    <label>
                                        <span class="screen-reader-text">Шукати....</span>
                                        <input type="search" name="q" value="" placeholder="Шукати …"
                                               class="search-field">
                                    </label>
                                    <input type="submit" value="Пошук" class="search-submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12 header">
                        <a href="{{ path('default') }}">
                            <img src="{{ asset('assets/images/main.png?1') }}" alt="Діалог">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-nav section_margin">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12 main_nav_cover" id="nav">
                            {{ render(controller('App\\Controller\\DefaultController::menu')) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block breadcrumb %}
        {% endblock %}
        {% block bodyTop %}
        {% endblock %}
        <div class="container-fluid">
            <div class="container">
                <div class="primary margin-15">
                    <div class="row">
                        <div class="col-md-8">
                            {% block body %}
                            {% endblock %}
                        </div>
                        <!--Start Sidebar-->
                        <aside class="col-md-4 sidebar_right">
                            {{ render(controller('App\\Controller\\DefaultController::sidebar')) }}
                        </aside>
                        <!--End Sidebar-->
                    </div>
                </div> <!--.primary-->
            </div>
        </div>
        <div class="container-fluid">
            <div class="container animate-box">
                <div class="bottom margin-15">
                    <div class="row">
                        {{ render(controller('App\\Controller\\DefaultController::footerBox')) }}
                    </div> <!--.row-->
                </div>
            </div>
        </div>

        <div class="container-fluid alith_footer_right_reserved">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12 bottom-logo">
                        <div class="logo">
                            <a href="">
                                <img src="{{ asset('assets/images/main.png') }}" alt="Діалог">
                            </a>
                        </div>
                        <div class="tagline social">
                            <ul>
                                <li class="facebook"><a href="https://www.facebook.com/Dialogandintegration/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 coppyright"><p>© Copyright {{ "now"|localizeddate('short', 'none') }}, Усі права захищені.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="gototop js-top">
            <a href="" class="js-gotop"><span>Підняти мене догори</span></a>
        </div>
    </div> <!--page-content-wrapper-->
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.waypoints.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.slicknav.min.js') }}"></script>
    <script src="{{ asset('assets/js/masonry.pkgd.min.js') }}"></script>
    <!-- Main -->
    <script src="{{ asset('assets/js/main.js') }}"></script>
    <script src="{{ asset('assets/js/smart-sticky.js') }}"></script>
    <script src="{{ asset('assets/js/theia-sticky-sidebar.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script async src="https://cse.google.com/cse.js?cx=008997067567551496827:eiyhoaerhbv"></script>

</div> <!--#wrapper-->

</body>
</html>
