{% if pageCount > 1 %}
<ul class="page-numbers">

        {% if previous is defined %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="prev page-numbers">Попередня</a>
            </li>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li class="page">
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="page-numbers">{{ page }}. </a>
                </li>
            {% else %}
                <li>
                    <span class="page-numbers current">{{ page }}. </span>
                </li>
            {% endif %}
        {% endfor %}

        {% if next is defined %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="next page-numbers">Наступна</a>
            </li>
        {% endif %}

    </ul>
{% endif %}
