{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}
{% block og_title %}{{ article.title }}{% endblock %}
{% block og_image %}{{ vich_uploader_asset(article, 'image') }}{% endblock %}
{% block keywords -%}
    {%- for tag in article.tags -%}
        {{- tag.name -}},
    {%- endfor -%}
    {{- article.keywords -}}
{%- endblock %}
{% block openGrafImage %}
    {%- if vich_uploader_asset(article, 'image') -%}
        {{ absolute_url(vich_uploader_asset(article, 'image')) }}
    {%- else -%}
        {{ parent() }}
    {%- endif -%}
{% endblock %}

{% block breadcrumb %}
<div class="container-fluid">
    <div class="container animate-box">
        <div class="row">
            <div class="post-header">
                <div class="bread">
                    <ul class="breadcrumbs" id="breadcrumbs">
                        <li class="item-home">Ви тут: <a title="Головна" href="{{ path('default') }}" class="bread-link bread-home">Головна</a></li>
                        <li class="separator separator-home"> /</li>
                        {% for category in article.categories %}
                             <li class="item-current item-cat">
                                 <a title="Рубрика" href="{{ path ('category-list', {'slug': category.slug}) }}" class="bread-link bread-home">{{ category.name }}</a>
                             </li>
                        {% endfor %}
                        <li class="separator separator-home"> /</li>
                        <li class="item-current item-cat"><strong class="bread-current bread-cat">{{ article.title }}</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
    <article class="section_margin">
        <figure class="alith_news_img animate-box fadeInUp animated-fast">
            <img src="{{ vich_uploader_asset(article, 'image') }}" alt="{{ article.title }}">
        </figure>
        <div class="post-content">
            <div class="single-header">
                <h1 class="alith_post_title">{{ article.title }}</h1>
                <div class="post_meta">
                    {% if article.author %}
                        <a href="{{ path('author-list', {'id': article.author.id}) }}" class="meta_author_avatar">
                            <img src="{{ vich_uploader_asset(article.author, 'image') }}" alt="{{ article.author.name }}">
                        </a>
                        <span class="meta_author_name">
                            <a href="{{ path('author-list', {'id': article.author.id}) }}" class="author">{{ article.author.name }}</a>
                        </span>
                    {% endif %}
                    <span class="meta_categories">
                         {% for category in article.categories %}
                             <a href="{{ path('category-list', {'slug': category.slug}) }}">{{ category.name }}{% if not loop.last %},{% endif %}</a>
                         {% endfor %}
                    </span>
                    <span class="meta_date">{{ article.publishedAt|localizeddate('medium') }}</span>
                    <span><i class="far fa-eye"></i> {{ article.views }}</span>
                </div>
            </div>
            <div class="single-content animate-box fadeInUp animated-fast">
                <p class="alith_post_except animate-box fadeInUp animated-fast">{{ article.shortContent }}</p>
                <div class="dropcap column-2 animate-box fadeInUp animated-fast content-text">
                    {{ article.content|raw }}
                </div>

                <div class="post-tags">
                    <div class="post-tags-inner">
                        {% for tag in article.tags %}
                            <a rel="tag" href="{{ path('tag-list', {'id': tag.id}) }}">#{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="post-share">
                    <ul>
                        <li class="facebook">
                            <div class="fb-share-button"
                                 data-href="{{ app.request.uri }}"
                                 data-layout="button_count">
                            </div>
                        </li>
                    </ul>
                </div>
                {% if article.author %}
                <div class="post-author section_margin_40">
                    <figure>
                        <a href="{{ path('author-list', {'id': article.author.id}) }}">
                            <img src="{{ vich_uploader_asset(article.author, 'image')}}" alt="{{ article.author.name }}">
                        </a>
                    </figure>
                    <div class="post-author-info">
                        <h3><a href="{{ path('author-list', {'id': article.author.id}) }}">{{ article.author.name }}</a></h3>
                        <p>{{ article.authorComment }}</p>
                        <ul>
                            {% if article.author.facebook %}
                                <li><a href="{{ article.author.facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            {% endif %}
                            {% if article.author.twitter %}
                                <li><a href="{{ article.author.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            {% endif %}
                            {% if article.author.linkedin %}
                                <li><a href="{{ article.author.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            {% endif %}
                            {% if article.author.instagram %}
                                <li><a href="{{ article.author.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                <div class="post-related section_margin_40">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="sidebar-widget">
                                <div class="widget-title-cover"><h4 class="widget-title"><span>Схожі повідомлення</span></h4></div>
                                <div class="latest_style_3">
                                    {% for article in related %}
                                        <div class="latest_style_3_item">
                                            <span class="item-count vertical-align">{{ loop.index }}.</span>
                                            <div class="alith_post_title_small">
                                                <a href="{{ path('article-view', {'slug': article.slug}) }}"><strong>{{ article.title }}</strong></a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!--post-related and navigation-->
            </div>
            <!--single content-->
            <div class="single-comment">
                <section id="comments">
                    <h4 class="single-comment-title">Коментарі</h4>
                    <div class="comments-inner clr">
                        <div class="comments-title">
                            <p>Кількість коментів у цієї статті: {{ article.comments|length }}</p>
                        </div>
                        <ol class="commentlist">
                            <li id="li-comment-4">
                                <article class="comment even thread-even depth-1 clr" id="comment-4">
                                    {% for comment in article.comments %}
                                        <div class="comment-details clr ">
                                            <header class="comment-meta">
                                                <strong class="fn">{{ comment.name }}</strong>
                                                <span class="comment-date">{{ comment.createdAt|localizeddate }}</span>
                                            </header>
                                            <div class="comment-content entry clr">
                                                <p>{{ comment.comment }}</p>
                                            </div>
                                            {#<div class="reply comment-reply-link-div">#}
                                                {#<a aria-label="Reply to spadmin" href="#respond" class="comment-reply-link" rel="nofollow">Відповисти</a>#}
                                            {#</div>#}
                                        </div>
                                    {% endfor %}
                                </article>
                                {#<ul class="children">#}
                                    {#<li id="li-comment-6">#}
                                        {#<article class="comment odd alt depth-2 clr" id="comment-6">#}
                                            {#<div class="comment-details clr ">#}
                                                {#<header class="comment-meta"> <strong class="fn"> Jim Calist </strong> <span class="comment-date">July 16, 2017 1:29 am </span></header>#}
                                                {#<div class="comment-content entry clr">#}
                                                    {#<p>Slung alongside jeepers hypnotic legitimately some iguana this agreeably triumphant pointedly far</p>#}
                                                {#</div>#}
                                                {#<div class="reply comment-reply-link-div"><a aria-label="Reply to spadmin" href="#respond" class="comment-reply-link" rel="nofollow">Reply</a></div>#}
                                            {#</div>#}
                                        {#</article>#}
                                    {#</li>#}
                                {#</ul>#}
                            </li>
                        </ol> <!--comment list-->
                        <nav role="navigation" class="comment-navigation clr">
                            <div class="nav-previous span_1_of_2 col col-1"></div>
                            <div class="nav-next span_1_of_2 col"> <a href="#comments">Залишити коментар →</a></div>
                        </nav> <!--comment nav-->
                        <div class="comment-respond" id="respond">
                            <h3 class="comment-reply-title" id="reply-title">Залишити коментар
                                <small>
                                    <a href="#respond" id="cancel-comment-reply-link" rel="nofollow">
                                        <i class="fa fa-times"></i></a>
                                </small>
                            </h3>
                            {{ form_start(form, {'attr': {'class': 'comment-form' }})}}
                            {{ form_errors(form) }}
                                <p class="comment-notes">
                                    <span id="email-notes">Вашу адресу електронної пошти не буде опубліковано.</span>
                                </p>
                                <div class="row">

                                    <div class="comment-form-author col-sm-12 col-md-6">
                                        {{ form_label(form.name)}}
                                        {{ form_widget(form.name, {'attr': {'placeholder': 'Як к Вам звертатись *', 'size': '30' }} ) }}
                                    </div>
                                    <div class="comment-form-email col-sm-12 col-md-6">
                                        {{ form_label(form.email)}}
                                        {{ form_widget(form.email, {'attr': {'placeholder': 'Ваш email *', 'size': '30' }} ) }}
                                    </div>
                                </div>
                                <p class="comment-form-comment">
                                    {{ form_label(form.comment)}}
                                    {{ form_widget(form.comment, {'attr': {'placeholder': 'Ваш коментар *', 'rows': '8', 'cols': '45' }} ) }}
                                </p>
                                <p class="form-submit">
                                    <input type="submit" value="Коментувати" class="submit" id="submit" name="submit">
                                    {#<input type="hidden" id="comment_post_ID" value="80" name="comment_post_ID"> #}
                                    {#<input type="hidden" value="0" id="comment_parent" name="comment_parent">#}
                                </p>
                            {{ form_end(form) }}
                        </div> <!--comment form-->

                    </div>
                </section>
            </div>
        </div>
    </article>
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}
